* {margin: 0; padding: 0;}

a {text-decoration: none;}

.fixed {
	position: fixed;
	top: 200px;
	height: 70px;
	z-index: 1;
}

.welconefixed {
	position: fixed;
	top: 0px;
	height: 200px;
	width: 100%;
	z-index: 1;
}

body {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align: center;
}

nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #fff;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #757575;
	text-transform: uppercase;
}

section {
	height: 100vh;
}

/* Screens Settings */
#welcome {
	background: url("../img/bg1.jpg") no-repeat;
	background-attachment: fixed;
}

#welcome p {
	
}

#text_info {
	position: fixed;
	top: 130px;
	text-align: center;
	width: 100%;
}

#screen2 {
	background: #efc94d;
}

#screen3 {
	background: #e1793d;
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}